body {
    background-color: #222;
    color: white;
    font-family: Arial;
}

#preloader{
    height: 20px;
    width: 200px;
    background-color: #fff;
}

#preloader div{
    float: left;
    height: 20px;
    width: 40px;
    background-color: magenta;
}

#preloader-indicator{
    color: magenta;
    text-align: left;

}
