#m div{
    width: 48px;
    height: 48px;
    border: 1px solid rgb(66, 64, 64);
    float: left;
}
#m .t-rex{
    background-image: url(images/rex.png);
}

#m .t-rex.right{
    transform: scaleX(-1);
}

#m .t-rex.left{
    transform: scaleX(1);
}

#m .cactus{
    background-image: url(images/cactus.png);
}

#gameScore{
clear: both;
padding-top: 30px;
font-size: 20px;
}
